<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
</head>

<body>
    <h2>ขอบคุณสำหรับการบริจาคของคุณ!</h2>
    <p>ข้อมูลการบริจาคของคุณได้ถูกส่งไปยังแอดมินเพื่อทำการตรวจสอบแล้ว</p>
    <a href="{% url 'home' %}" class="action-links">หน้าแรก</a>
    {% if donation.approved %}
        <a href="{% url 'generate_donation_pdf' donation.id %}" class="btn btn-primary">ดาวน์โหลด PDF</a>
    {% elif donation.rejected %}
        <p>ข้อมูลไม่ถูกต้อง กรุณากรอกข้อมูลใหม่อีกครั้ง</p>
    {% else %}
        <p>กรุณารอการยืนยันจากแอดมิน</p>
    {% endif %}
</body>

</html>
